<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>

	<h:form id="delectProductForm">

          <p:carousel id="deleteCarousel" value="#{deleteView.productusers}"
			headerText="Your Products" var="product">
			<p:panelGrid id="listOfProducts" columns="2">

				
				<h:outputText value="name:" />
				<h:outputText value="#{product.name}" />

				<h:outputText value="Description" />
				<h:outputText value="#{product.description}" />

				<p:commandButton action="#{deleteView.deleteProduct(product)}"
					value="Remove" icon="fa fa-fw fa-remove" update="deleteCarousel" />
			</p:panelGrid>

			<f:facet name="footer">
                In total you have uploaded : #{deleteView.productusers.size()} products.
        </f:facet>
		</p:carousel>



	</h:form>
	<h:form>
		<p:commandButton action="#{deleteView.goToProductList()}"
			value="Go back to Product List" />
	</h:form>
</h:body>
</html>
