<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>PrimeFaces Poseidon</title>
</h:head>

<h:body styleClass="login-body">
	

	<div>Login in the Lending Platform</div>

	<h:form id="loginForm">
						
				<h:outputLabel for="j_username" value="Username " />
				<h:inputText id="j_username" name="j_username"
					value="#{loginView.username}" autocomplete="off" />
				<h:message for="j_username" />
				<br />

				<h:outputLabel for="j_password" value="Password: " />
				<h:inputSecret id="j_password" name="j_password"
					value="#{loginView.password}" autocomplete="off" />
				<h:message for="j_password" />
				<br />

				
				<p:selectBooleanCheckbox id="remember-me" />
				<p:outputLabel for="remember-me" value="Remember Me" />
				<br />
				
				<h:commandButton type="reset" value="Clear" />
				<h:commandButton action="#{loginView.login()}" type="submit"
						value="Login" />

				

	</h:form>

	<h:form>
		<h:commandLink action="#{loginView.goToRegistration()}"
			value="Or register now!" />
	</h:form>
</h:body>

</html>