<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>

<body>

<h2>Make a new lease contract</h2>


	
	<h:form>
	<h:outputLabel for="objectRenting" value="Selected object" />
	
		<p:dataTable id="objectRenting" var="n" paginator="true" value="#{productView.productToRent}" rows="1" >
<!-- 		<p:ajax process="objectRenting" update="objectRenting"/> -->
			<p:column headerText="Id">
			
				<h:outputText id="productId" value="#{n.productId},#{rentView.idToRent}" />
			</p:column>

			<p:column headerText="Name">
				<h:outputText id="name" value="#{n.name}" />
			</p:column>

			<p:column headerText="Description">
				<h:outputText id="description" value="#{n.description}" />
			</p:column>
			
			<p:column headerText="Image">
			<p:graphicImage id="image" value="#{n.image}" />
			</p:column>

         

		</p:dataTable>

		    <h:outputLabel for="beginDate" value="Insert Begin Date: " />
		    <p:calendar id="beginDate" mode="popup" value="#{rentView.beginDate}"  />
		    
		    <h:outputLabel for="endDate" value="Insert End Date: " />
		    <p:calendar id="endDate" mode="popup"  value="#{rentView.endDate}"  />
		    
		    <h:outputLabel for="billingAmount" value="Insert Billing amount: " />
		    <p:spinner id="billingAmount" min="0" max="10000" stepFactor="1" prefix="€" default="0" value="#{rentView.billingAmount}" />
            
		    
		    <h:outputLabel for="billingType" value="Choose billing type: " />
		      <p:selectManyMenu id="billingType" name="billingType"  >
            <f:selectItem itemLabel="Daily" itemValue="DAILY" />
            <f:selectItem itemLabel="Weekly" itemValue="WEEKLY" />
            <f:selectItem itemLabel="Monthly" itemValue="MONTHLY" />
        </p:selectManyMenu>
        
            <h:outputLabel for="insurance" value="Ask for insurance: " />
              <p:selectOneRadio id="insurance" value="#{rentView.insurance}">
           <f:selectItem itemLabel="Yes" itemValue="1" />
           <f:selectItem itemLabel="No" itemValue="0" />
           </p:selectOneRadio>
            
            <h:outputLabel for="advancedDownpayment" value="Ask for advancedDownpayment: " />
             <p:selectOneRadio id="advancedDownpayment" value="#{rentView.advancedPayment}" >
        <f:selectItem itemLabel="Yes" itemValue="1" />
        <f:selectItem itemLabel="No" itemValue="0" />
    </p:selectOneRadio>
            
            <h:outputLabel for="notes" value="Insert optional notes" />
            <p:inputTextarea id="notes" rows="6" cols="33" maxlenght="100" value="#{rentView.description}"/>
		    
		    <br/> <br />
		     <p:commandButton id="rentButton" value="Rent the object" action="#{rentView.makeContract()}" />			
			<p:commandButton id="goBackToProductButton" action="#{productView.goToProductList()}"
			value="Go back to Product List" />

	</h:form>
</body>
</html>