<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>


	<h2>Products available for Renting</h2>

	<!-- Table from the database -->



	<h:form>



		<h:outputLabel for="searchText" value="Search object" />
		<h:inputText id="searchText" name="searchText"
			value="#{productView.searchText}" required="false" />
		<h:message for="username" /><br/>
		<h:outputLabel for="searchType" value="By" />
		<h:outputText value="Attribute:" /> 
		<p:selectOneButton name="searchType" id="searchType"
			value="#{productView.searchType}">
			<h:message for="searchType" />
			<f:selectItem itemLabel="Name" itemValue="Name" />
			<f:selectItem itemLabel="Id" itemValue="Id" />
		</p:selectOneButton>
		
		<p:commandButton id="searchButton" value="Search"
			action="#{productView.searchObjectList()}" update="productTable" />
		<br />
		<p:commandButton id="showAllButton" value="Show all products"
			action="#{productView.init()}" update="productTable" />




		<p:dataTable id="productTable" name="productTable" var="n"
			value="#{productView.products}" rows="10" paginator="true"
			rowsPerPageTemplate="5,10,15">
			<p:column headerText="Id">
				<h:outputText id="productId" value="#{n.productId}" />
			</p:column>

			<p:column headerText="Name">
				<h:outputText id="name" value="#{n.name}" />
			</p:column>

			<p:column headerText="Description">
				<h:outputText id="description" value="#{n.description}" />
			</p:column>
			
			<p:column headerText="Image">
			<p:graphicImage id="image" value="n.Image" />
			</p:column>
			
			<p:column headerText="Renting">
				<h:commandButton id="rentButton" name="rentButton"
					value="Rent Product" action="#{productView.goToProductRent(n.productId)}" />
			</p:column>

		</p:dataTable>

		<p:commandButton action="#{productView.goToAddProduct()}" value="Insert a new product" />

		<br></br>
		<p:commandButton action="#{productView.goToDeleteProduct}" value="Delete a product" />
		<br></br>
		<p:commandButton action="#{productView.goToUserMenu()}" value="Go back to User Menu" />

	</h:form>


</body>
</html>
